<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <h1 class="title">Art's Club</h1>
  <br>
  <h6 class="titleb">Artes de Qualidade</h6>

  <ul>
    <li>
      <a href="/produto">
        <h2>Noite Estrelada</h2>
        <img src="/noiteestrelada.jpg" alt="Imagem do Produto 1">
        <p>R$ 1.989,00</p>
      </a>
    </li>
    <li>
      <a href="/produto">
        <h2>Quadro 2</h2>
        <img src="/arte2.jpg" alt="Imagem do Produto 2">
        <p>R$ 2.099,99</p>
      </a>
    </li>
    <li>
      <a href="/produto">
        <h2>Quadro 3</h2>
        <img src="/arte3.jpg" alt="Imagem do Produto 3">
        <p>R$ 1.269,00</p>
      </a>
    </li>
  </ul>
</body>
</html>